*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 20px;
    color: pink;
}
.back{
    position: absolute;
    width: 100%;
    height: 1200px;
}
.admin{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgba(67, 67, 176, 0.549);
}
.search{
    margin-right: 10vw;
}
.margin{
    margin: 20px;
}
.hhh{
    min-height: 1180px;
    width: 100%;
    position: absolute;
}
.pagi{
    color: aliceblue;
    background-color: white;
    /* border-radius: 5%; */
    position: relative;
}